* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  word-wrap: break-word;
}
body {
  background-color: $lightGrey;
}
select {
  background-color: $lightGrey;
}
select:hover,
select:active,
select:focus {
  outline: none;
}
input[type="search"] {
  width: 100%;
  height: 50px;
  padding: 0px 30px;
  font-size: 18px;
  color: $darkBlue;
  background-color: $purpleLight;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  &:hover,
  &:focus {
    outline: none;
  }
}
