* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    word-wrap: break-word;
}
body {
    background-color: $lightGrey;
}
select {
    background-color: $lightGrey;
}
select:hover, select:active, select:focus {
    outline: none;
}