.button {
  height: 48px;
  font-size: 13px;
  border: none;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
%button-large {
  width: 150px;
}
%button-small {
  width: 89px;
}
.button-primary {
  @extend %button-large;
  background-color: $purpleDarkBright;
  color: #fff;
}
.button-secondary {
  @extend %button-large;
  background-color: $lightGrey;
  color: $purpleGrey;
  &:hover {
    background-color: $purpleGrey;
    color: #fff;
  }
}
.button-danger {
  @extend %button-large;
  background-color: $lightRed;
  color: #fff;
  &:hover {
    background-color: rgba(236, 87, 87, 0.5);
    color: #fff;
  }
}