$purpleDarkBright: #7C5DFA;
$purpleBright: #9277FF;
$purpleLight: #DFE3FA;
$purpleGrey: #888EB0;
$purpleDarkGrey: #7E88C3;
$lightGrey: #F8F8F8;
$lightRed: #EC5757;
$lightPink: #9277FF;
$black: #0C0E16;
$veryDarkBlue: #141625;
$darkBlue: #1E2139;
$navyBlue: #252945;